# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pycache/

# ===== Virtual Environment =====
venv/
env/
*.env

# ===== Database =====
database.db

# ===== Flask / Web =====
instance/
*.log

# ===== IDE / Editor =====
.vscode/
*.sublime-project
*.sublime-workspace
.idea/
*.iml

# ===== OS Files =====
.DS_Store
Thumbs.db

# ===== Dependencies =====
*.egg
*.egg-info/
dist/
build/
.eggs/

# ===== Others =====
*.pyc
*.pkl
*.sqlite3
